body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  flex: 1;
  text-align: left;
  max-width: 800px;
  margin: 90px 20px 20px 0; /* Ajouter une marge de 20px à gauche et 20px en haut et en bas */
}

.video {
  flex: 1;
  max-width: 800px;
  margin-left: 30px;
}

h1 {
  font-size: 2em; /* Taille du titre */
  color: #343a40; /* Couleur du texte du titre */
}

strong {
  font-size: 1.2em; /* Taille du texte en gras */
  font-weight: bold;
}

p {
  color: #495057; /* Couleur du texte du paragraphe */
  line-height: 1.6; /* Espacement des lignes */
  margin-bottom: 10px;
}

/* Cacher le contenu textuel sur les petits écrans */
@media (max-width: 767px) {
  .content {
    display: none;
  }
}
